name: Build and deploy ASP.Net Core app to Azure Web App - apiecommercev1

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      # Especificamos el .csproj para que el contexto sea el correcto
      - name: Build with dotnet
        run: dotnet build ApiEcommerce/ApiEcommerce.csproj --configuration Release

      # Publicamos apuntando al proyecto de la API
      - name: dotnet publish
        run: dotnet publish ApiEcommerce/ApiEcommerce.csproj -c Release -o "${{env.DOTNET_ROOT}}/myapp"

      # PASO DE DIAGNÓSTICO: Lista los archivos para confirmar que están los appsettings
      - name: List files in publish directory
        run: dir "${{env.DOTNET_ROOT}}/myapp"

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: .net-app
          path: ${{env.DOTNET_ROOT}}/myapp

  deploy:
    runs-on: windows-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: .net-app
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_0677D396DF82470A9A8CD7EEFF5F0F3A }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_940C0C84E0714E5D8761DF9F301BDB1C }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_F4524AEFC2F54C8A83C3F654A72E4A40 }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'apiecommercev1'
          slot-name: 'Production'
          package: .