name: Build and deploy ASP.Net Core app to Azure Web App - apiecommercev1

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Publish
        run: dotnet publish -c Release -o "${{ env.DOTNET_ROOT }}/myapp"

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: .net-app
          path: ${{ env.DOTNET_ROOT }}/myapp

  deploy:
    runs-on: windows-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: .net-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID }}

     
      - name: Set App Settings and Connection String
        uses: azure/CLI@v2
        with:
          inlineScript: |
            az webapp config appsettings set \
              --name apiecommercev1 \
              --resource-group GrupoParaEcomerce \
              --settings ApiSettings__SecretKey="${{ secrets.API_SECRET_KEY }}"

            az webapp config connection-string set \
              --name apiecommercev1 \
              --resource-group GrupoParaEcomerce \
              --settings ConexionSql="${{ secrets.AZURE_SQL_CONNECTION }}" \
              --connection-string-type SQLAzure

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: apiecommercev1
          slot-name: Production
          package: .
